<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>App</title>
    <style>
        .form {
            display: flex;
            flex-direction: column;
            width: 50%;
            margin: 0 auto;
        }
    </style>
  </head>
  <body>
    <h1>Create Project</h1>
    <main>
        <form action="/project" method="post" class="form">
            <div>
                <label for="name">Name <span aria-label="required">*</span></label>
                <input id="name" type="text" name="name" placeholder="Project name" required />
            </div>

            <label for="description">Description</label>
            <textarea id="description" name="description"></textarea>

            <label for="dueDate">Due Date</label>
            <input type="date" id="dueDate" name="dueDate" />

            <button type="submit">Create</button>
        </form>
    </main>
  </body>
</html>
