<html>
  <head>
    <meta charset='utf-8' />
    <title>App - Projects list</title>
    <link rel='stylesheet' href='/main.css' />
  </head>
  <body>
    <main>
      <header>
        <h1>Projects</h1>
        <a href='/create' class='button button__primary'>Create Project</a>
      </header>
      <article>
        <ul class='project-list'>
          {{#each projects}}
            <li class='project-list__item'>
              <h2>{{name}}</h2>
              <a href='/view/{{id}}' class='button'>View</a>
            </li>
          {{/each}}
        </ul>
      </article>
    </main>
  </body>
</html>
